<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书管理-图书管理系统</title>

</head>
<body>
<div><h1 style="background-color: red">欢迎来到图书管理页面</h1></div>
    <div><a href="addabook">添加图书</a></div>
    <div><a href="delabook">删除图书</a></div>
    <div><a href="editabook">修改图书</a></div>
    <div><a href="queryabook">查询图书</a></div>
    <div><a href="allbook">所有图书信息</a></div>
    <div><a href="delallbook">删除所有</a></div>
{#    <div><a href="backupsbook">图书备份</a></div>#}
    <div><a href="recoverybook">图书恢复</a></div>
<a href="/"><button>返回</button></a>

</body>
<script>
</script>
</html>