<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询借阅-图书馆管理系统</title>
</head>
<body>
    <h1 style="background-color: red">请输入要查询的学号或书号</h1>
<form action="queryborrow" method="POST"id="form" onsubmit="return check()">
    {% csrf_token %}
        <div><span>学号：</span><input type="text" name="sid"/></div>
        <div><span>书号：</span><input type="text" name="bid"/></div>
        <input type="submit" value="查询">

    </form>
<a href="/borrows"><button>返回</button></a>
<script language="JavaScript">
    function aa() {
        alert("执行了！")
    }
function check() {
        sid=document.getElementsByName("sid");
        bid=document.getElementsByName("bid");
        if(sid[0].value==""&&bid[0].value==""){
            alert("至少填写一项！");
            sid[0].focus();
            return false;
        }
    return true;
}
</script>
</body>
</html>