<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<div><h1 style="background-color: red">欢迎来到图书借阅页面</h1></div>

<div><a href="/borrows/borrows">借书</a></div>
<div><a href="/borrows/returnbooks">还书</a></div>
<div><a href="/borrows/queryborrow">借阅信息查询</a></div>
<div><a href="/borrows/allborrows">全部借书信息</a></div>
{#<div><a href="/borrows/backupsborrow">借阅备份</a></div>#}
{#<div><a href="/borrows/recoveryborrow">借阅恢复</a></div>#}
<a href="/"><button>返回</button></a>
</body>
</html>