<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ titile }}</title>
</head>
<body>
<h1 style="background-color: crimson">欢迎登录</h1>
    <form action="/login/" method="POST"id="form" onsubmit="return check()">
        {% csrf_token %}
        <div><span>用户名</span><input name="user"type="text" value="root"/></div>
        <div><span>密  码</span><input name="pwd"type="password" value="123"/></div>
        <div><input type="submit"value="登录"/></div>
    </form>
</body>
{% include "formcheck.html" %}
</html>