<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生管理-学生管理系统</title>

</head>
<body>
<div><h1 style="background-color: red">欢迎来到学生管理页面</h1></div>
    <div><a href="addastudent">添加学生</a></div>
    <div><a href="delastudent">删除学生</a></div>
    <div><a href="editastudent">修改学生</a></div>
    <div><a href="queryastudent">查询学生</a></div>
    <div><a href="allstudent">所有学生信息</a></div>
    <div><a href="delallstudent">删除所有</a></div>
{#    <div><a href="backupsstudent">学生备份</a></div>#}
    <div><a href="recoverystudent">学生恢复</a></div>
<a href="/"><button>返回</button></a>


</body>
<script>
</script>
</html>